# ignore _everything_ that gets placed into the mdi root folder
/*

# _except_ the files explicitly declared to be part of this installer repository
!/docs/
!/_config.yml
!/.gitignore
!/index.html
!/install.sh
!/LICENSE
!/README.md
